In [ ]:
## String based practice problemÂ¶

1.  Write a program to reverse a string.

In [3]:
string = input('Enter the string ')

reversed_string = string[::-1]

print("The reversed string is : ", reversed_string)

Enter the string pwskills
The reversed string is :  sllikswp

2.  Check if a string is a palindrome.

In [5]:
string = input('Enter the string ')
reversed_string = string[::-1]
if reversed_string == string:
    print("The given string is a palindrome.")
else:
    print("The given string is not a palindrome.")

Enter the string riya
The given string is not a palindrome.

3.  Convert a string to uppercase.

In [11]:
string = input("enter a string: ")
print("The string in uppercase is :", string.upper())

enter a string: i am riya
The string in uppercase is : I AM RIYA

4.  Convert a string to lowercase.

In [10]:
string = input("enter a string: ")
print("The string in lowercase is :", string.lower())

enter a string: I am Riya Dehariya
The string in lowercase is : i am riya dehariya

5. Count the number of vowels in a string.

In [32]:
string = input("Enter a string : ")
vowel_count = 0
string_lower = string.lower()
for z in string_lower:
    if z in 'aeiou':
        vowel_count += 1
    
print("The total number of vowels in a string is :", vowel_count)

Enter a string : RIYA
The total number of vowels in a string is : 2

6.  Count the number of consonants in a string.

In [37]:
string = input("Enter a string : ")
consonent_count = 0
string_lower = string.lower()
for z in string_lower:
    if z!='a' and z!='e' and z!='i' and z!='o' and z!='u':
        consonent_count += 1
    
print("The total number of vowels in a string is :", consonent_count)

Enter a string : kiran
The total number of vowels in a string is : 3

7. Remove all whitespaces from a string.

In [39]:
a = input("Enter a string : ")
print("The string after removing whitespaces is : ", a.replace(" ",""))

Enter a string : my sister is an enginner
The string after removing whitespaces is :  mysisterisanenginner

8. Find the length of a string without using the `len()` function.

In [48]:
a = input('Enter string : ')
len_count = 0
for i in a:
    len_count += 1
print('The length of a given string is:', len_count)

Enter string : datascience course
The length of a given string is: 18

9.  Check if a string contains a specific word.

In [59]:
a = input('Enter string : ')
if 'girl' in a:
    print('The string contains a word girl')
else:
    print('The string does not contains a word girl')

Enter string : riya is a student girl
The string contains a word girl

10.  Replace a word in a string with another word.

In [74]:
a = input('Enter string : ')

print('The string is :', a.replace("girl","student"))

Enter string : riya is a girl
the string is : riya is a student

11. Count the occurrences of a word in a string.

In [80]:
a = input('Enter string : ')
b = a.count('girl')
print('The total number of count of the word girl is :', b)

Enter string : The girl sitting next to her is a studious girl. this girl is a good student and she has many girls as a friend.
The total number of count of the word girl is : 4

12. Find the first occurrence of a word in a string.

In [91]:
a = "This guy is a good guy"
b = a.find('guy')
print('The first occurence of a word in a given string is at : ', b)

The first occurence of a word in a given string is at :  5

13. Find the last occurrence of a word in a string.

In [93]:
a = "This is best thing in the world that i got best peoples in my life."
b = a.rfind('best')
print('The last occurence of a word in a given string is at : ', b)

The last occurence of a word in a given string is at :  43

14. Split a string into a list of words.

In [102]:
a = 'Tokyo is best city in whole World'
b= a.split()
b

['Tokyo', 'is', 'best', 'city', 'in', 'whole', 'World']

15. Join a list of words into a string.

In [107]:
z = ['Mohit', 'Riya', 'Ankita']
x = ' | '
x.join(z)

'Mohit | Riya | Ankita'

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [108]:
a = 'Tokyo is situated in Japan'
a.replace(' ','_')

'Tokyo_is_situated_in_Japan'

17. Check if a string starts with a specific word or phrase.

In [117]:
a = 'Tokyo is in Japan'
a.startswith('Tokyo')

True

18. Check if a string ends with a specific word or phrase.

In [120]:
a = 'Apple is a Fruit'
a.endswith('Fruit')

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [121]:
a = 'Jaipur is known as pink city an is situated in rajasthan'
a.title()

'Jaipur Is Known As Pink City An Is Situated In Rajasthan'

20. Find the longest word in a string.

In [124]:
a = 'Jaipur is known as pink city an is situated in rajasthan'
longest = max(a.split(),key = len)         #split() to convert string to list and after splitting it is passed to max() function with keyword argument key = len which returns longest word from a string. 
print("Longest word is: ", longest)
print("The length of longest word is: ", len(longest))

Longest word is:  rajasthan
The length of longest word is:  9

21. Find the shortest word in a string.

In [133]:
a = 'One should eat healthy food'
shortest = min(a.split(),key = len)         #split() to convert string to list and after splitting it is passed to min() function with keyword argument key = len which returns shortest word from a string. 
print("Shortest word is: ", shortest)
print("The length of shortest word is: ", len(shortest))

Shortest word is:  One
The length of shortest word is:  3

22. Reverse the order of words in a string.

In [1]:
a = 'One should eat healthy food'
b = a.split()             #split the string and store the resultant list in b
b = list(reversed(b))     #reverse the list b using reversed function
c = " "                   #declaring c for using join function
print(c.join(b))          #join the words using join function and print it

food healthy eat should One

23. Check if a string is alphanumeric.

In [35]:
a = 'HelloWorld2345'
c= a.isalnum()
print(c)

True

24. Extract all digits from a string.

In [45]:
a = '5 people ate 10 apples which means each person ate 2 apples'
print("The original string is : ", a)
a_list = a.split()
b_list = []
for i in a_list:
    if i.isnumeric():
        b_list.append(i)
print("The digits in given string are : ", b_list)

The original string is :  5 people ate 10 apples which means each person ate 2 apples
The digits in given string are :  ['5', '10', '2']

25. Extract all alphabets from a string.

In [55]:
a = 'acb8765*&5$234riya'
print("The given string is :", a)
b = ""
for i in a:
    if i.isalpha():
        b = "".join([b,i])
        
print("The characters in the string are : ", b)

The given string is : acb8765*&5$234riya
The characters in the string are :  acbriya

In [ ]:
26. Count the number of uppercase letters in a string.

In [80]:
a = 'Python Programming has Numpy and Pandas'
b = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
count = 0
for i in a:
    if i in b:
        count+=1
print("The uppercase letters are : ", count)

The uppercase letters are :  4

27. Count the number of lowercase letters in a string.

In [81]:
a = 'Python Programming has Numpy and Pandas'
count = 0
for i in a:
    if i.islower():
        count+=1
print("The lowercase letters are : ", count)

The lowercase letters are :  30

28. Swap the case of each character in a string.

In [83]:
a = 'Python Programming'
a.swapcase()

'pYTHON pROGRAMMING'

29. Remove a specific word from a string.

In [111]:
a = ' Various programming languages are python,java and c++'
b = a.replace("languages","")
b

' Various programming  are python,java and c++'

In [96]:
a

' Various programming languages are python,java and c++'

30. Check if a string is a valid email address.

In [1]:
def is_valid_email(email):
    # Check if there is exactly one "@" symbol and at least one "."
    if "@" in email and "." in email.split("@")[-1]:
        return True
    return False

email = "example@test.com"
print(is_valid_email(email))

True

31. Extract the username from an email address string.

In [2]:
def extract_username(email):
    # Split the string at "@" and return the first part
    username = email.split("@")[0]
    return username

# Test the function
email = "example@test.com"
print(extract_username(email))

example

In [ ]:
32. Extract the domain name from an email address string.

In [3]:
def extract_domain(email):
    # Split the string at "@" and return the second part (domain)
    domain = email.split("@")[1]
    return domain

# Test the function
email = "example@test.com"
print(extract_domain(email))

test.com

33. Replace multiple spaces in a string with a single space.

In [132]:
a = 'Pwskills     python    datascience'
b = " ".join(a.split())        #first split the string and then join the words with single space
b

'Pwskills python datascience'

34. Check if a string is a valid URL.

In [4]:
def is_valid_url(url):
    # Check if the string starts with a valid protocol and contains a "."
    if url.startswith("http://") or url.startswith("https://") or url.startswith("ftp://"):
        if "." in url.split("//")[1]:  # Check if there is a "." after the protocol
            return True
    return False

# Test the function
url = "https://www.example.com"
print(is_valid_url(url))

True

In [ ]:
35. Extract the protocol (http or https) from a URL string.

In [5]:
def extract_protocol(url):
    # Split the URL by "://" and return the first part (protocol)
    protocol = url.split("://")[0]
    return protocol

# Test the function
url = "https://www.example.com"
print(extract_protocol(url))  # Output: https

https

36. Find the frequency of each character in a string.

In [135]:
a = 'pineapple'
b = {}         #creates a dictionary of newly occured elements

for i in a:
    if i in b:
        b[i]+=1       #if element occurs again increases it value by 1
    else:
        b[i]=1
print("frequency of each character is :", b)

frequency of each character is : {'p': 3, 'i': 1, 'n': 1, 'e': 2, 'a': 1, 'l': 1}

37. Remove all punctuation from a string.

In [156]:
a = 'ohh god !!'
a.replace('!','')

'ohh god '

In [164]:
a = 'ohh god !!'
b = '''!@#$%^&*()_'''

for i in a:
    if i in b:
        a = a.replace(i,"")
print("The string after removing punctuation is : ", a)

The string after removing punctuation is :  ohh god

38. Check if a string contains only digits.

In [168]:
a = '1234'
a.isdigit()

True

39. Check if a string contains only alphabets.

In [172]:
a = 'apple'
a.isalpha()

True

40. Convert a string to a list of characters.

In [178]:
a = 'riya'
print([*a])

['r', 'i', 'y', 'a']

41. Check if two strings are anagrams.

In [16]:
a = input('Enter a string : ')
b = input('Enter a string : ')

def check(a,b):
    if(sorted(a)==sorted(b)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")
        
check(a,b)

Enter a string : silent
Enter a string : listen
The strings are anagrams.

42. Encode a string using a Caesar cipher.

In [4]:
def caesar_cipher(string,shift):
    
    result = ""
    for i in range(len(string)):
        char = string[i]
        
        if (char.isupper()):
            result += chr((ord(char) + shift -65) % 26 + 65)
            
        else:
            result += chr((ord(char) + shift - 97) % 26 + 97)
    
    return result

string = 'HELLOWORLD'
shift = 3
print("String : " + string)
print("shift : " + str(shift))
print("Cipher : " + caesar_cipher(string,shift))

String : HELLOWORLD
shift : 3
Cipher : KHOORZRUOG

43. Decode a Caesar cipher encoded string.

In [6]:
import string

def caesar_cipher_decode(encoded_text, shift):
    # Define the alphabet
    alphabet = string.ascii_lowercase
    decoded_text = ""

    # Loop through each character in the encoded text
    for char in encoded_text:
        if char.isalpha():  # Check if it's a letter
            is_upper = char.isupper()
            char = char.lower()  # Convert to lowercase for consistency
            # Find the position of the character in the alphabet
            index = (alphabet.index(char) - shift) % 26
            # Append the shifted character to the result
            decoded_char = alphabet[index]
            # Convert back to uppercase if needed
            if is_upper:
                decoded_char = decoded_char.upper()
            decoded_text += decoded_char
        else:
            # If it's not a letter, leave it unchanged
            decoded_text += char

    return decoded_text

# Test the function
encoded_text = "Khoor Zruog"  # Encoded with a shift of 3
shift = 3
print(caesar_cipher_decode(encoded_text, shift))

Hello World

44. Find the most frequent word in a string.

In [8]:
from collections import Counter

def most_frequent_word(text):
    # Split the string into words and convert them to lowercase
    words = text.lower().split()
    
    # Use Counter to count occurrences of each word
    word_counts = Counter(words)
    
    # Find the word with the maximum count
    most_common_word = word_counts.most_common(1)[0]
    
    return most_common_word

# Test the function
text = "Tokyo is a very beautiful city. Tokyo being capital of Japan is maintained very well"
print(most_frequent_word(text))

('tokyo', 2)

In [ ]:
45. Find all unique words in a string.

In [9]:
import string

def unique_words(text):
    # Remove punctuation from the text
    translator = str.maketrans('', '', string.punctuation)
    cleaned_text = text.translate(translator)
    
    # Convert to lowercase and split into words
    words = cleaned_text.lower().split()
    
    # Use a set to keep unique words
    unique_words_set = set(words)
    
    return unique_words_set

# Test the function
text = "This is a test. This test is simple. Simple test!"
print(unique_words(text))

{'is', 'this', 'test', 'simple', 'a'}

In [ ]:
46. Count the number of syllables in a string.

In [10]:
pip install syllapy

Collecting syllapy
  Downloading syllapy-0.7.2-py3-none-any.whl (24 kB)
Installing collected packages: syllapy
Successfully installed syllapy-0.7.2
Note: you may need to restart the kernel to use updated packages.

In [11]:
import syllapy

def count_syllables(text):
    # Split the text into words
    words = text.split()
    
    # Count syllables for each word and sum them up
    total_syllables = sum(syllapy.count(word) for word in words)
    
    return total_syllables

# Test the function
text = "This is a simple example."
print(count_syllables(text))

8

47. Check if a string contains any special characters.

In [13]:
def contains_special_characters(text):
    # Define a set of special characters
    special_characters = set('!@#$%^&*()_+-=[]{},.<>?/|\\`~"\'')
    
    # Check if any character in the string is a special character
    return any(char in special_characters for char in text)

# Test the function
text_with_special_chars = "Hello, World! 123"
text_without_special_chars = "Hello World 123"

print(contains_special_characters(text_with_special_chars))
print(contains_special_characters(text_without_special_chars))

True
False

48. Remove the nth word from a string.

In [14]:
def remove_nth_word(text, n):
    # Split the string into a list of words
    words = text.split()

    # Check if n is valid
    if 0 <= n < len(words):
        # Remove the nth word (index n)
        del words[n]
    
    # Join the words back into a string
    return ' '.join(words)

# Test the function
text = "This is a simple example string."
n = 3
print(remove_nth_word(text, n))

This is a example string.

## List based practice problem

1. Create a list with integers from 1 to 10.

In [41]:
l = [1,2,3,4,5,6,7,8,9,10]
print('The list with integers is:', l)

The list with integers is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [13]:
l = [1,2,3,4,'python',4.4]
count = 0
for i in l:
    count += 1
print('The length of a list is :', count)

The length of a list is : 6

3. Append an element to the end of a list.

In [40]:
l = [1,2,3,4,'python',4.4]
l.append('riya')
print('The list after appending an element is:', l)

The list after appending an element is: [1, 2, 3, 4, 'python', 4.4, 'riya']

4. Insert an element at a specific index in a list.

In [39]:
l = [1,2,3,4,'python',4.4]
l.insert(4,'riya')
print('The list after inserting an element is:', l)

The list after inserting an element is: [1, 2, 3, 4, 'riya', 'python', 4.4]

5. Remove an element from a list by its value.

In [31]:
l = [1,2,3,4,'python',4.4]
l.remove('python')
print('The list after removing an element is:', l)

[1, 2, 3, 4, 4.4]

6. Remove an element from a list by its index.

In [38]:
l = [1,2,3,4,'python',4.4]
del l[2]
print('The list after removing an element is:', l)

The list after removing an element is: [1, 2, 4, 'python', 4.4]

7. Check if an element exists in a list.

In [55]:
l = [1,2,3,4,'python',4.4]
i = 'python'
if i in l:
    print('exist')
else:
    print('Not exist')

exist

8. Find the index of the first occurrence of an element in a list.

In [64]:
l = [1,2,3,4,'python',4.4,3]
a = l.index('python')
print('The index of the first occurence of an element is:', a  )

The index of the first occurence of an element is: 4

9. Count the occurrences of an element in a list.

In [66]:
l = [1,2,3,4,'python',4.4,3,'riya',3,3.3,2,3]
a = l.count(3)
print('The Total occurrences of an element in a list is :', a)

The Total occurrences of an element in a list is : 4

10. Reverse the order of elements in a list.

In [73]:
l = [1,2,3,4,'python',4.4,3,'riya',3,2,3]
a = l[::-1]
a

[3, 2, 3, 'riya', 3, 4.4, 'python', 4, 3, 2, 1]

In [82]:
l = [1,2,3,4,'python',4.4,3,'riya',3,2,3]
l.reverse()
print('The reverse order of elements in a list is :', l)

The reverse order of elements in a list is : [3, 2, 3, 'riya', 3, 4.4, 'python', 4, 3, 2, 1]

11. Sort a list in ascending order.

In [99]:
l = [1,2,3,4,4.4,3,3,2,3,7,9]
l.sort()
print('The sorted list in ascending order is :', l)

The sorted list in ascending order is : [1, 2, 2, 3, 3, 3, 3, 4, 4.4, 7, 9]

12. Sort a list in descending order.

In [100]:
l = [1,2,3,4,4.4,3,3,2,3,7,9]
l.sort()
l.reverse()
print('The sorted list in descending order is :', l)

The sorted list in descending order is : [9, 7, 4.4, 4, 3, 3, 3, 3, 2, 2, 1]

In [104]:
l = [1,2,3,4,4.4,3,3,2,3,7,9]
a = sorted(l, reverse=True)
print('The sorted list in descending order is :', a)

The sorted list in descending order is : [9, 7, 4.4, 4, 3, 3, 3, 3, 2, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [38]:
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [1]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in l:
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [40]:
def list_even_no(a):
    for i in range(1,21):
        if i%2 == 0:
            print(i)

In [35]:
list_even_no(a)

2
4
6
8
10
12
14
16
18
20

14. Create a list of even numbers from 1 to 20.

In [42]:
[i for i in range(1,21) if i%2 == 1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [56]:
l = [4,5,3,1]
s = sum(l)
print(f"The sum of al elements in a list is {s}")

The sum of al elements in a list is 13

16. Find the maximum value in a list.

In [59]:
l = [4,5,3,1,10,15,33,2,6]
print(f"The maximum value in alist is {max(l)}")

The maximum value in alist is 33

17. Find the minimum value in a list.

In [62]:
l = [4,5,3,1,10,15,33,2,6]
print(f"The minimum value in a list is {min(l)}")

The minimum value in a list is 1

18. Create a list of squares of numbers from 1 to 10.

In [67]:
sqr_list = [i*i for i in range(1,11)]
print(f"The list of squares from 1 to 10 is {sqr_list}")

The list of squares from 1 to 10 is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [13]:
import random
 
random_list = random.sample(range(1, 50), 10)         #sample() is a method that returns list which has two arguments Sequence and k=size of list 
print ("Random number list is : ", random_list)

Random number list is :  [24, 9, 43, 22, 47, 29, 49, 21, 12, 33]

20. Remove duplicates from a list.

In [30]:
lst = [2,5,7,2,8,6,7,4]
print(f"The list after removing duplicates is : {list(set(lst))}")

The list after removing duplicates is : [2, 4, 5, 6, 7, 8]

In [32]:
lst_dup = [2,5,7,2,8,6,7,4]
lst_new = []
for i in lst_dup:
    if i not in lst_new:
        lst_new.append(i)
print(lst_new)

[2, 5, 7, 8, 6, 4]

21. Find the common elements between two lists.

In [18]:
lst_1 = [2,4,6,8,1,3,5,9,7,16,10,15,12,19]
lst_2 = [1,3,9,6,2,4,8,0,13,15,19]
lst_3 = []

for i in lst_1:
    if i in lst_2:
        lst_3.append(i)
        
print(f"The common elements betweeen two lists are : {lst_3}")

The common elements betweeen two lists are : [2, 4, 6, 8, 1, 3, 9, 15, 19]

22. Find the difference between two lists.

In [36]:
lst_1 = [2,4,6,8,1,3,5,9,7,16]
lst_2 = [1,3,9,6,2,4,8,0,13,15]
lst_3 = []

for i in lst_1:
    if i not in lst_2:
        lst_3.append(i)
        
lst_3

[5, 7, 16]

23. Merge two lists.

In [42]:
a = [1,2,3,4]
b = [5,6,7,8]

c = a+b
print(f"THe two list after merging are : {c}")

THe two list after merging are : [1, 2, 3, 4, 5, 6, 7, 8]

24. Multiply all elements in a list by 2.

In [51]:
a = [8,5,2,9,0,4]

for i in a:
    if i!=0:
        print(i*2)

16
10
4
18
8

In [ ]:
a = [8,5,2,9,0,4]

 25. Filter out all even numbers from a list.

In [5]:
a = [1,2,3,4,5,6,7,8,9,10,14,17,18]
b = []
for i in a:
    if i%2 == 0:
        b.append(i)
b

[2, 4, 6, 8, 10, 14, 18]

26. Convert a list of strings to a list of integers.

In [11]:
a = ['1','2','3','4','5']
b = [int(i) for i in a]               #list comphrehension
print(f"The list of strings after converting it to integer is {b}")

The list of strings after converting it to integer is [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [24]:
a = [1,2,3,4,5,6,7]
b = [str(i) for i in a]
print(f"The list of integers after converting it to string is {b}")

The list of integers after converting it to string is ['1', '2', '3', '4', '5', '6', '7']

28. Flatten a nested list.

In [9]:
def flatten_list(l):
    b = []
    for i in l:
        if type(i)==list:
            for j in i:
                b.append(j)
        else:
            b.append(i)
    return(b)

a = [1,2,3,4,[5,6,7,8],9]
print(f"The original list is {a}")
print(f"The flatten list is {flatten_list(a)}")

The original list is [1, 2, 3, 4, [5, 6, 7, 8], 9]
The flatten list is [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [14]:
def fib(l):
    if l <= 1:
        return l
    else:
        return fib(l-2) + fib(l-1)
    
fibb(8)

21

In [15]:
def fib(n):
    if n == 0:
        return[0]
    elif n == 1:
        return[0,1]
    else:
        lst = fib(n-1)
        lst.append(lst[-1] + lst[-2])
        return lst

In [16]:
fib(8)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

30. Check if a list is sorted.

In [7]:
a = [1,2,3,4,5,6]
flag = 0
if (a == sorted(a)):
    flag = 1
    
if (flag):
    print("List is sorted")
else:
    print("List is not sorted")

List is sorted

31. Rotate a list to the left by `n` positions.

In [17]:
list = [1,2,3,4,5,6]
print("Original list is : " + str(list))

list = list[3:] + list[:3]
print("list after left rotate by 3 is : " + str(list))

Original list is : [1, 2, 3, 4, 5, 6]
list after left rotate by 3 is : [4, 5, 6, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [1]:
def rotate_right(lst, n):
    # Ensure n is within the bounds of the list length
    n = n % len(lst)
    return lst[-n:] + lst[:-n]

# Example usage
lst = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_right(lst, n)
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [2]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [n for n in range(2, 51) if is_prime(n)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [3]:
def split_into_chunks(lst, n):
    # Use list slicing to create chunks of size n
    return [lst[i:i+n] for i in range(0, len(lst), n)]

# Example usage
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
chunks = split_into_chunks(lst, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [4]:
def second_largest(lst):
    # Remove duplicates by converting the list to a set, then back to a sorted list
    unique_lst = list(set(lst))
    # Sort the list in descending order
    unique_lst.sort(reverse=True)
    # Return the second element (second largest)
    return unique_lst[1] if len(unique_lst) > 1 else None

# Example usage
lst = [10, 20, 4, 45, 99, 45]
second_largest_num = second_largest(lst)
print(second_largest_num)

45

36. Replace every element in a list with its square.

In [5]:
def square_elements(lst):
    return [x**2 for x in lst]

# Example usage
lst = [1, 2, 3, 4, 5]
squared_lst = square_elements(lst)
print(squared_lst)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [6]:
def list_to_dict(lst):
    return {element: index for index, element in enumerate(lst)}

# Example usage
lst = ['a', 'b', 'c', 'd']
converted_dict = list_to_dict(lst)
print(converted_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

38. Shuffle the elements of a list randomly.

In [7]:
import random

def shuffle_list(lst):
    random.shuffle(lst)
    return lst

# Example usage
lst = [1, 2, 3, 4, 5]
shuffled_lst = shuffle_list(lst)
print(shuffled_lst)

[5, 2, 1, 4, 3]

39. Create a list of the first 10 factorial numbers.

In [8]:
import math

def first_10_factorials():
    return [math.factorial(i) for i in range(1, 11)]

# Example usage
factorials = first_10_factorials()
print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [9]:
def have_common_element(lst1, lst2):
    return bool(set(lst1) & set(lst2))

# Example usage
lst1 = [1, 2, 3, 4]
lst2 = [3, 5, 6, 7]
result = have_common_element(lst1, lst2)
print(result)

True

41. Remove all elements from a list.

In [10]:
def clear_list(lst):
    lst.clear()

# Example usage
lst = [1, 2, 3, 4, 5]
clear_list(lst)
print(lst)

[]

42. Replace negative numbers in a list with 0.

In [11]:
def replace_negatives(lst):
    return [0 if x < 0 else x for x in lst]

# Example usage
lst = [1, -2, 3, -4, 5]
replaced_lst = replace_negatives(lst)
print(replaced_lst)

[1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [12]:
def string_to_list_of_words(s):
    return s.split()

# Example usage
s = "Hello world this is a test"
words_list = string_to_list_of_words(s)
print(words_list)

['Hello', 'world', 'this', 'is', 'a', 'test']

44. Convert a list of words into a string.

In [13]:
def list_to_string(words_list):
    return ' '.join(words_list)

# Example usage
words_list = ['Hello', 'world', 'this', 'is', 'a', 'test']
resulting_string = list_to_string(words_list)
print(resulting_string)

Hello world this is a test

45. Create a list of the first `n` powers of 2.

In [14]:
def powers_of_2(n):
    return [2**i for i in range(n)]

# Example usage
n = 5
powers_list = powers_of_2(n)
print(powers_list)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [15]:
def longest_string(strings_list):
    return max(strings_list, key=len)

# Example usage
strings_list = ["apple", "banana", "cherry", "blueberry"]
longest_str = longest_string(strings_list)
print(longest_str)

blueberry

47. Find the shortest string in a list of strings.

In [16]:
def shortest_string(strings_list):
    return min(strings_list, key=len)

# Example usage
strings_list = ["apple", "banana", "cherry", "fig"]
shortest_str = shortest_string(strings_list)
print(shortest_str)

fig

48. Create a list of the first `n` triangular numbers.

In [17]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Example usage
n = 5
triangular_lst = triangular_numbers(n)
print(triangular_lst)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [18]:
def is_subsequence(main_list, sub_list):
    iter_main = iter(main_list)
    return all(elem in iter_main for elem in sub_list)

# Example usage
main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 4, 6]
result = is_subsequence(main_list, sub_list)
print(result)

True

50. Swap two elements in a list by their indices.

In [19]:
def swap_elements(lst, index1, index2):
    # Ensure the indices are within the bounds of the list
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        raise IndexError("Index out of range")

# Example usage
lst = [10, 20, 30, 40, 50]
swap_elements(lst, 1, 3)
print(lst)

[10, 40, 30, 20, 50]

## Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [19]:
a = (1,2,3,4,5)
a

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [25]:
a = (2,4,5,7,8,6)
b = a[2]
print('The third element of a tuple is', b)

The third element of a tuple is 5

In [ ]:
3. Find the length of a tuple without using the `len()` function.

In [30]:
a = (2,4,5,7,8,6)
len_count = 0
for i in a:
    len_count += 1
    
print('The length of a tuple is :', len_count)

The length of a tuple is : 6

4. Count the occurrences of an element in a tuple.

In [40]:
a = (2,4,5,7,8,6,2,5,2)
a.count(2)

3

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [47]:
a = (4,5,7,2,8,6,2,5,2)
a.index(5)

1

6. Check if an element exists in a tuple.

In [6]:
a = (4,5,7,2,8,6)
target = 5

for i in a:
    if i == target:
        print(i)

5

7. Convert a tuple to a list.

In [7]:
a = (4,5,7,2,8,6)
list(a)

[4, 5, 7, 2, 8, 6]

8. Convert a list to a tuple.

In [9]:
l = [6,3,7,8,1,2,9]
tuple(l)

(6, 3, 7, 8, 1, 2, 9)

9. Unpack the elements of a tuple into variables.

In [10]:
a = (4,5,7,2,8,6)
for i in a:
    print(i)

4
5
7
2
8
6

10. Create a tuple of even numbers from 1 to 10.

In [38]:
even_tuple  = tuple(i for i in range(1,11) if i%2 == 0)
even_tuple

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [39]:
odd_tuple  = tuple(i for i in range(1,11) if i%2 == 1)
odd_tuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [41]:
a = ('riya','kiran','sam')
b = ('cricket','khokho','football')
c = a + b
print(c)

('riya', 'kiran', 'sam', 'cricket', 'khokho', 'football')

13. Repeat a tuple three times.

In [49]:
a = ('riya','kiran','sam')
z = ((a,))*3
print(z)

(('riya', 'kiran', 'sam'), ('riya', 'kiran', 'sam'), ('riya', 'kiran', 'sam'))

14. Check if a tuple is empty.

In [83]:
a = (1,2,3,4,4,5,5)
if len(a) == 0:
    print("Tuple is empty")
else :
    print("Tuple is not empty")

Tuple is not empty

15. Create a nested tuple.

In [85]:
a = (1,2,3,4,4,5,5)
b = (9,6,5,2,7,1,6)
z = a+b
z

(1, 2, 3, 4, 4, 5, 5, 9, 6, 5, 2, 7, 1, 6)

16. Access the first element of a nested tuple.

In [20]:
# Example nested tuple
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

# Accessing the first element of the outer tuple
first_element = nested_tuple[0]

print(first_element)

(1, 2, 3)

In [21]:
# Accessing the first element of the first nested tuple
first_element_of_first_nested = nested_tuple[0][0]

print(first_element_of_first_nested)

1

17. Create a tuple with a single element.

In [22]:
# Creating a tuple with a single element
single_element_tuple = (42,)

print(single_element_tuple)

(42,)

18. Compare two tuples.

In [23]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare tuples
print(tuple1 == tuple2)  # Check if they are equal
print(tuple1 < tuple2)   # Check if tuple1 is less than tuple2
print(tuple1 > tuple2)   # Check if tuple1 is greater than tuple2

False
True
False

19. Delete a tuple.

In [25]:
# Create a tuple
my_tuple = (1, 2, 3)

# Delete the tuple
del my_tuple

20. Slice a tuple.

In [26]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50, 60)

# Slice the tuple
slice1 = my_tuple[1:4]     # Elements from index 1 to 3

print(slice1)  # Output: (20, 30, 40)

(20, 30, 40)

21. Find the maximum value in a tuple.

In [27]:
# Example tuple
my_tuple = (10, 20, 5, 8, 15)

# Find the maximum value
max_value = max(my_tuple)

print(max_value)

20

22. Find the minimum value in a tuple.

In [28]:
# Example tuple
my_tuple = (10, 20, 5, 8, 15)

# Find the minimum value
min_value = min(my_tuple)

print(min_value)

5

23. Convert a string to a tuple of characters.

In [29]:
# Example string
my_string = "hello"

# Convert string to a tuple of characters
char_tuple = tuple(my_string)

print(char_tuple)

('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [30]:
# Example tuple of characters
char_tuple = ('h', 'e', 'l', 'l', 'o')

# Convert tuple of characters to a string
resulting_string = ''.join(char_tuple)

print(resulting_string)

hello

25. Create a tuple from multiple data types.

In [31]:
# Creating a tuple with multiple data types
mixed_tuple = (42, "hello", 3.14, True, [1, 2, 3], (4, 5))

print(mixed_tuple)

(42, 'hello', 3.14, True, [1, 2, 3], (4, 5))

26. Check if two tuples are identical.

In [32]:
# Example tuples
tuple1 = (1, 2, 3, 'hello')
tuple2 = (1, 2, 3, 'hello')
tuple3 = (1, 2, 3, 'world')

# Check if tuples are identical
print(tuple1 == tuple2)  
print(tuple1 == tuple3)

True
False

27. Sort the elements of a tuple.

In [33]:
# Example tuple
my_tuple = (4, 1, 3, 2, 5)

# Sort the tuple
sorted_tuple = tuple(sorted(my_tuple))

print(sorted_tuple)

(1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings.

In [34]:
# Example tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Convert tuple of integers to tuple of strings
str_tuple = tuple(str(x) for x in int_tuple)

print(str_tuple)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [35]:
# Example tuple of strings
str_tuple = ('1', '2', '3', '4', '5')

# Convert tuple of strings to tuple of integers
int_tuple = tuple(int(x) for x in str_tuple)

print(int_tuple)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [36]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the tuples
merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [37]:
def flatten_tuple(t):
    flat_list = []

    def flatten(x):
        if isinstance(x, tuple):
            for item in x:
                flatten(item)
        else:
            flat_list.append(x)

    flatten(t)
    return tuple(flat_list)

# Example usage
nested_tuple = ((1, 2, (3, 4)), (5, (6, 7)), 8)
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [38]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return tuple(primes)

# Create a tuple of the first 5 prime numbers
prime_tuple = first_n_primes(5)
print(prime_tuple)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [39]:
def is_palindrome(t):
    return t == t[::-1]

# Example usage
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print(is_palindrome(tuple1))  
print(is_palindrome(tuple2))

True
False

34. Create a tuple of squares of numbers from 1 to 5.

In [40]:
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x**2 for x in range(1, 6))

print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [42]:

numbers_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Filter out all even numbers
filtered_tuple = tuple(x for x in numbers_tuple if x % 2 == 0)

print(filtered_tuple)

(2, 4, 6, 8)

36. Multiply all elements in a tuple by 2.

In [43]:
# Example tuple
numbers_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2
multiplied_tuple = tuple(x * 2 for x in numbers_tuple)

print(multiplied_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [44]:
import random

# Function to create a tuple of random numbers
def random_tuple(size, start, end):
    return tuple(random.randint(start, end) for _ in range(size))

# Example usage
size = 5  # Number of random numbers
start = 1  # Start of the range (inclusive)
end = 100  # End of the range (inclusive)

random_numbers = random_tuple(size, start, end)
print(random_numbers)

(2, 94, 49, 26, 10)

38. Check if a tuple is sorted.

In [45]:
def is_sorted(t):
    return t == tuple(sorted(t))

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 3, 1, 4, 2)

print(is_sorted(tuple1)) 
print(is_sorted(tuple2))

True
False

39. Rotate a tuple to the left by `n` positions.

In [46]:
def rotate_tuple_left(t, n):
    n = n % len(t)  # Handle cases where n is larger than the tuple length
    return t[n:] + t[:n]

# Example usage
tuple1 = (1, 2, 3, 4, 5)
n = 2

rotated_tuple = rotate_tuple_left(tuple1, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [47]:
def rotate_tuple_right(t, n):
    n = n % len(t)  # Handle cases where n is larger than the tuple length
    return t[-n:] + t[:-n]

# Example usage
tuple1 = (1, 2, 3, 4, 5)
n = 2

rotated_tuple = rotate_tuple_right(tuple1, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [48]:
def fibonacci(n):
    sequence = []
    a, b = 0, 1
    while len(sequence) < n:
        sequence.append(a)
        a, b = b, a + b
    return tuple(sequence)

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [49]:
# Prompt the user for input
user_input = input("Enter values separated by commas: ")

# Split the input string into a list of values
values_list = user_input.split(',')

# Remove any leading or trailing whitespace from each value
values_list = [value.strip() for value in values_list]

# Convert the list to a tuple
values_tuple = tuple(values_list)

print(values_tuple)

Enter values separated by commas: 2,3,4,1,11,2,3,5,66
('2', '3', '4', '1', '11', '2', '3', '5', '66')

43. Swap two elements in a tuple.

In [50]:
def swap_elements(t, index1, index2):
    # Convert the tuple to a list to make it mutable
    temp_list = list(t)
    
    # Swap the elements at index1 and index2
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
    
    # Convert the list back to a tuple
    return tuple(temp_list)

# Example usage
original_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3

swapped_tuple = swap_elements(original_tuple, index1, index2)
print(swapped_tuple)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [51]:
# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple
reversed_tuple = original_tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [52]:
def powers_of_2(n):
    return tuple(2**i for i in range(n))

# Example usage
n = 5

powers_tuple = powers_of_2(n)
print(powers_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [53]:
def longest_string(strings_tuple):
    return max(strings_tuple, key=len)

# Example usage
strings_tuple = ("apple", "banana", "cherry", "date", "elderberry")

longest = longest_string(strings_tuple)
print(longest)

elderberry

47. Find the shortest string in a tuple of strings.

In [54]:
def shortest_string(strings_tuple):
    return min(strings_tuple, key=len)

# Example usage
strings_tuple = ("apple", "banana", "cherry", "date", "elderberry")

shortest = shortest_string(strings_tuple)
print(shortest)

date

48. Create a tuple of the first `n` triangular numbers.

In [55]:
def triangular_numbers(n):
    return tuple(k * (k + 1) // 2 for k in range(1, n + 1))

# Example usage
n = 5

triangular_tuple = triangular_numbers(n)
print(triangular_tuple)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [56]:
def contains_subsequence(t, sub):
    # Length of the tuple and the subsequence
    len_t, len_sub = len(t), len(sub)
    
    # Edge case: subsequence cannot be longer than the main tuple
    if len_sub > len_t:
        return False
    
    # Iterate over the tuple and check for matching subsequence
    for i in range(len_t - len_sub + 1):
        if t[i:i + len_sub] == sub:
            return True
    
    return False

# Example usage
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4, 5)

result = contains_subsequence(main_tuple, sub_tuple)
print(result)  # This will be True

sub_tuple2 = (4, 6)
result2 = contains_subsequence(main_tuple, sub_tuple2)
print(result2)  # This will be False

True
False

50. Create a tuple of alternating 1s and 0s of length `n`.

In [57]:
def alternating_tuple(n):
    return tuple((i % 2) for i in range(n))

# Example usage
n = 10

alt_tuple = alternating_tuple(n)
print(alt_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [58]:
# Create a set with integers from 1 to 5
integer_set = set(range(1, 6))

print(integer_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [59]:
# Create a set
integer_set = {1, 2, 3, 4, 5}

# Add an element to the set
integer_set.add(6)

print(integer_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [60]:
# Create a set
integer_set = {1, 2, 3, 4, 5}

# Remove an element from the set
integer_set.remove(3)

print(integer_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [61]:
# Create a set
integer_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element = 3
exists = element in integer_set

print(exists)  # This will be True if the element is in the set

True

5. Find the length of a set without using the `len()` function.

In [62]:
# Create a set
integer_set = {1, 2, 3, 4, 5}

# Find the length of the set without using len()
count = 0
for _ in integer_set:
    count += 1

print(count)

5

6. Clear all elements from a set.

In [63]:
# Create a set
integer_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
integer_set.clear()

print(integer_set)  # This will be an empty set

set()

7. Create a set of even numbers from 1 to 10.

In [64]:
# Create a set of even numbers from 1 to 10
even_numbers = {x for x in range(1, 11) if x % 2 == 0}

print(even_numbers)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [65]:
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}

print(odd_numbers)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [66]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the union of the two sets
union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5, 6}

10. Find the intersection of two sets.

In [67]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the intersection of the two sets
intersection_set = set1 & set2

print(intersection_set)

{3, 4}

11. Find the difference between two sets.

In [68]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the difference between the two sets
difference_set = set1 - set2

print(difference_set)

{1, 2}

12. Check if a set is a subset of another set.

In [69]:
# Create two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

print(is_subset)  # This will be True if set1 is a subset of set2

True

13. Check if a set is a superset of another set.

In [70]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

print(is_superset)  # This will be True if set1 is a superset of set2

True

14. Create a set from a list.

In [71]:
# Create a list with some duplicate elements
my_list = [1, 2, 2, 3, 4, 4, 5]

# Convert the list to a set
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [72]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [73]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set
random_element = my_set.pop()

print(f"Removed element: {random_element}")
print(f"Updated set: {my_set}")

Removed element: 1
Updated set: {2, 3, 4, 5}

17. Pop an element from a set.

In [74]:
# Create a set
my_set = {10, 20, 30, 40, 50}

# Pop an element from the set
popped_element = my_set.pop()

print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 50
Updated set: {20, 40, 10, 30}

18. Check if two sets have no elements in common.

In [75]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the two sets have no elements in common
no_common_elements = set1.isdisjoint(set2)

print(no_common_elements)  # This will be True if there are no common elements

True

19. Find the symmetric difference between two sets.

In [76]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference between the two sets
symmetric_diff = set1.symmetric_difference(set2)

print(symmetric_diff)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [77]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

print(set1)

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [78]:
# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
def generate_primes(count):
    primes = set()
    num = 2
    while len(primes) < count:
        if is_prime(num):
            primes.add(num)
        num += 1
    return primes

# Create a set of the first 5 prime numbers
first_5_primes = generate_primes(5)

print(first_5_primes)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [79]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Check if the two sets are identical
are_identical = set1 == set2

print(are_identical)  # This will be True if the sets are identical

True

23. Create a frozen set.

In [80]:
# Create a frozenset
my_frozenset = frozenset([1, 2, 3, 4, 5])

print(my_frozenset)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [81]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 is disjoint with set2
are_disjoint = set1.isdisjoint(set2)

print(are_disjoint)  # This will be True if the sets are disjoint

True

25. Create a set of squares of numbers from 1 to 5.

In [82]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x**2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [84]:
# Create a set of numbers
numbers_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out all even numbers
odd_numbers_set = {num for num in numbers_set if num % 2 == 0}

print(odd_numbers_set)

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [85]:
# Create a set of numbers
numbers_set = {1, 2, 3, 4, 5}

# Multiply all elements in the set by 2
doubled_set = {num * 2 for num in numbers_set}

print(doubled_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [86]:
import random

# Define the number of random numbers and the range
num_random_numbers = 10
range_start = 1
range_end = 100

# Create a set of random numbers
random_numbers_set = {random.randint(range_start, range_end) for _ in range(num_random_numbers)}

print(random_numbers_set)

{1, 2, 100, 40, 8, 76, 50, 52, 55, 31}

29. Check if a set is empty.

In [87]:
# Create a set
my_set = set()  # An empty set

# Check if the set is empty
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [88]:
# Create frozensets
nested_set1 = frozenset({1, 2, 3})
nested_set2 = frozenset({4, 5, 6})

# Create a set containing frozensets
nested_set = {nested_set1, nested_set2}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

31. Remove an element from a set using the discard method.

In [89]:
# Create a set of numbers
numbers_set = {1, 2, 3, 4, 5}

# Element to be removed
element_to_remove = 3

# Remove the element from the set
numbers_set.discard(element_to_remove)

print(numbers_set)

{1, 2, 4, 5}

32. Compare two sets.

In [90]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if sets are equal
are_equal = set1 == set2

print(are_equal)  # True if the sets are equal

True

33. Create a set from a string.

In [91]:
# Create a string
string = "hello"

# Create a set from the string
char_set = set(string)

print(char_set)

{'e', 'o', 'h', 'l'}

In [ ]:
34. Convert a set of strings to a set of integers.

In [92]:
# Create a set of strings
string_set = {'1', '2', '3', '4', '5'}

# Convert the set of strings to a set of integers
integer_set = {int(s) for s in string_set}

print(integer_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [93]:
# Create a set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
string_set = {str(num) for num in integer_set}

print(string_set)

{'2', '5', '1', '4', '3'}

36. Create a set from a tuple.

In [94]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [95]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [96]:
# Create a set of numbers
my_set = {1, 2, 3, 4, 5}

# Find the maximum value in the set
max_value = max(my_set)

print(max_value)

5

39. Find the minimum value in a set.

In [97]:
# Create a set of numbers
my_set = {1, 2, 3, 4, 5}

# Find the minimum value in the set
min_value = min(my_set)

print(min_value)

1

40. Create a set from user input.

In [98]:
# Get user input
user_input = input("Enter elements separated by spaces: ")

# Split the input string into a list of elements
elements = user_input.split()

# Create a set from the list of elements
user_set = set(elements)

print(user_set)

Enter elements separated by spaces: 3 4 5 2 2 33 5 5
{'2', '5', '4', '3', '33'}

41. Check if the intersection of two sets is empty.

In [99]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Find the intersection of the two sets
intersection = set1 & set2

# Check if the intersection is empty
is_empty = not intersection

print(is_empty)  # True if the intersection is empty

True

42. Create a set of the first 5 Fibonacci numbers.

In [100]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fib_sequence = []
    a, b = 0, 1
    while len(fib_sequence) < n:
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

# Generate the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

# Convert the list of Fibonacci numbers to a set
fibonacci_set = set(first_5_fibonacci)

print(fibonacci_set)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [101]:
# Create a list with duplicates
my_list = [1, 2, 3, 4, 2, 5, 1, 6, 3]

# Remove duplicates by converting the list to a set
unique_set = set(my_list)

# Convert the set back to a list (if you need a list)
unique_list = list(unique_set)

print(unique_list)

[1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [102]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Check if the sets have the same elements
are_equal = set1 == set2

print(are_equal)  # True if the sets contain the same elements

True

45. Create a set of the first `n` powers of 2.

In [103]:
# Define the number of powers of 2 to generate
n = 5

# Create a set of the first n powers of 2
powers_of_2 = {2 ** i for i in range(n)}

print(powers_of_2)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [ ]:
# Define a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Convert the list to a set
list_set = set(my_list)

# Find the intersection of the set and the set created from the list
common_elements = my_set & list_set

print(common_elements)

47. Create a set of the first `n` triangular numbers.

In [105]:
# Define the number of triangular numbers to generate
n = 5

# Create a set of the first n triangular numbers
triangular_numbers = {k * (k + 1) // 2 for k in range(1, n + 1)}

print(triangular_numbers)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [106]:
# Define the sets
main_set = {1, 2, 3, 4, 5}
subset_set = {2, 4}

# Check if subset_set is a subset of main_set
is_subset = subset_set.issubset(main_set)

print(is_subset)  # True if subset_set is a subset of main_set

True

49. Create a set of alternating 1s and 0s of length `n`.

In [107]:
# Define the length of the alternating pattern
n = 10

# Create a list with alternating 1s and 0s
alternating_list = [i % 2 for i in range(n)]

print(alternating_list)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

50. Merge multiple sets into one.

In [108]:
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the | operator
merged_set = set1 | set2 | set3

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}